PORT=3000
DATABASE_URL="mysql://admin:your_password@database-2.co2sxxgtd0y5.us-east-1.rds.amazonaws.com:3306/cinestar?connect_timeout=15"
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecretjwtkey
